[Unit]
Description=5tratumOS First Boot Auto Update
After=network.target
Wants=network.target
Before=5tratumos-firstboot.service
Before=5tratumosd.service
Before=5tratumos-overlay.service
ConditionPathExists=!/etc/5tratumos/firstboot-update.done

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/5tratumos/bootstrap/firstboot-update.sh
TimeoutStartSec=1800

[Install]
WantedBy=multi-user.target
